awscli==1.11.186
boto3==1.4.7
botocore==1.7.44
certifi==2017.11.5
chardet==3.0.4
click==6.7
colorama==0.3.7
docutils==0.14
Flask==0.12.2
idna==2.6
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.0
mysql-connector-python-rf==2.2.2
nltk==3.2.4
numpy==1.13.1
pyasn1==0.3.7
python-dateutil==2.6.1
PyYAML==3.12
requests==2.18.4
rsa==3.4.2
s3transfer==0.1.11
six==1.10.0
slackclient==1.1.0
urllib3==1.22
virtualenv==15.1.0
websocket-client==0.44.0
Werkzeug==0.12.2
