attrs==17.4.0
awsebcli==3.12.1
blessed==1.14.2
botocore==1.8.23
cement==2.8.2
certifi==2017.11.5
chardet==3.0.4
click==6.7
colorama==0.3.7
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
Flask==0.12.2
google-api-python-client==1.6.4
httplib2==0.10.3
idna==2.6
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.0
multidict==4.0.0
nltk==3.2.5
oauth2client==4.1.2
pathspec==0.5.0
pluggy==0.6.0
py==1.5.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pytest==3.3.1
pytest-vcr==0.3.0
python-dateutil==2.6.1
PyYAML==3.12
requests==2.9.1
rsa==4.1
semantic-version==2.5.0
six==1.11.0
slackclient==1.0.0
tabulate==0.7.5
termcolor==1.1.0
textblob==0.15.0
uritemplate==3.0.0
urllib3==1.22
uWSGI==2.0.15
vcrpy==1.11.1
wcwidth==0.1.7
websocket-client==0.46.0
Werkzeug==0.14.1
wrapt==1.10.11
yarl==1.0.0
